@using Questionnaire.Data
@inject QuestionInteractor Interactor

<h4 class="mt-4">
    @(Question.QuestionText)@if (!Question.IsOptional)
    {<span>*</span>}
</h4>
<p>@Question.IsValid</p>
<EditForm Model="this">
    @switch (Question.Type)
    {
        case QuestionType.MultiSelect:

            @foreach (var option in Question.AnswerOptions)
            {
                <input type="checkbox" value="option.IsSelected" @onchange="@((ChangeEventArgs c) => OnCheckboxSelectionChange(c, option))" /> <span class="ml-2">@option.OptionText</span> <br />
            }
            break;
        case QuestionType.SingleSelect:
            <InputRadioGroup @bind-Value="SelectedOption">
                @foreach (var option in Question.AnswerOptions)
                        {
                    <InputRadio Value="option.OptionText" /> <span class="ml-2">@option.OptionText</span> <br />
                        }
            </InputRadioGroup>
            break;
        case QuestionType.TextInput:
            <InputText @bind-Value="SelectedOption" />
            break;
        default:
            <p>This question type is not supported.</p>
            break;
    }
</EditForm>

@code {
    [Parameter]
    public Question Question { get; set; }

    [Parameter]
    public EventCallback<bool> OnStateChangeEvent { get; set; }

    private string _selectedOption;
    public string SelectedOption
    {
        get => _selectedOption;
        set
        {
            _selectedOption = value;
            OnSelectionChanged(value);
        }
    }

    private void OnCheckboxSelectionChange(ChangeEventArgs args, AnswerOption option)
    {
        option.IsSelected = (bool)args.Value;
        ChangeState();
    }

    private void OnSelectionChanged(string value)
    {
        Interactor.UpdateQuestion(Question, value);
        ChangeState();
    }

    private void ChangeState()
    {
        this.StateHasChanged();
        OnStateChangeEvent.InvokeAsync(true);
    }
}
