@page "/"

@using Questionnaire.Data
@inject QuestionInteractor Interactor
@inject NavigationManager UriHelper

<div class="container-fluid">
    <div class="card p-3 m-auto">
        @if (!_submitted)
        {
            <h1>Questionnaire</h1>
            <small class="text-muted">Required questions are marked with an asterisk (*)</small>

            @if (_questions == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <div style="height: 70vh; overflow-y: scroll;">
                    @foreach (var question in _questions)
                    {
                        <QuestionForm Question="@question" OnStateChangeEvent="Rerender"></QuestionForm>
                    }
                </div>
                <button class="btn btn-primary mt-4" @onclick="Submit" type="submit" disabled="@IsQuestionnaireInvalid()">Show my score...</button>
            }
        }
        else
        {
            <h1>Your score</h1>
            <div class="alert @GetAlertClass()" role="alert">
                @_correctQuestionCount out of @_questions?.Count questions answered correctly (@(_correctQuestionPercentage)%)
            </div>
            <div style="height: 70vh; overflow-y: scroll;">
                @foreach (var question in _questions)
                {
                    <QuestionEvaluation Question="@question"></QuestionEvaluation>
                }
            </div>
        }

    </div>
</div>
@if (_showDialog)
{
    <QuestionnaireSelectModal OnClose="@OnDialogClose"></QuestionnaireSelectModal>

}

@code {
    private IList<Question> _questions;
    private bool _submitted;
    private int _correctQuestionCount = 0;
    private int _correctQuestionPercentage = 0;
    private bool _showDialog = true;

    private string GetAlertClass()
    {
        return _correctQuestionPercentage switch
        {
            100 => "alert-success",
            0 => "alert-danger",
            _ => "alert-primary"
        };
    }

    private void Submit()
    {
        _submitted = true;
        _correctQuestionCount = Interactor.GetCorrectQuestionCount(_questions);
        _correctQuestionPercentage = Interactor.GetCorrectQuestionPercentage(_correctQuestionCount, _questions.Count);
    }

    private Task OnDialogClose(string selectedQuestionnaire)
    {
        _showDialog = false;
        _questions = Interactor.GetQuestions(selectedQuestionnaire);
        return Task.CompletedTask;
    }

    private bool IsQuestionnaireInvalid() => !Interactor.AreAllRequiredQuestionsAnswered(_questions);

    private void Rerender(bool hasChanged)
    {
        this.StateHasChanged();
    }
}
